body {
    background: rgb(252, 249, 249);
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

.form-control {
    box-shadow: none;
    outline: none;
    border: 1px solid rgb(12, 210, 236);
    border-right: 1px solid white;
    border-left: 1px solid white;

    background-color: white;
    width: 100px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid rgb(12, 210, 236);
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: white;
    border-radius: 0 10px 0 10px;
}
.pre-text {
    background-color: white;
    border: 1px solid rgb(12, 210, 236);
    border-right: 1px solid white;
    border-radius: 25px;
}
.post-text,
.input-group-text {
    background-color: white;
    border: 1px solid rgb(12, 210, 236);
    border-left: 1px solid white;
    border-radius: 25px;
}
